{% load crispy_forms_filters %}

{% block title %}
  Login
{% endblock %}

{% block content %}
  <div class="card-body">
    <h1>Login</h1>

    <form role="form" method="post" action="">
      {% csrf_token %}
      {{ form|crispy }}

      <input type="submit" name="login"
             class="btn login-button card-body"
             value="Login">
      <br>
      {% if next %}
      <p>Please login to see this page.</p>
    {% endif %}
    </form>
  </div>

{% endblock %}
