{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}
  Tasks
{% endblock %}

{% block content %}
  <div class="empty-block under-nav"> </div>
  <div class="tasks">
    <div class="task task-create">
      <h1><a href="{% url "manager:task-create" %}" class="link link-create">+</a></h1>
      <p>Create a new one</p>
    </div>
    {% for task in task_list %}
      <div class="task">
        <h4><a href="{% url "manager:task-detail" pk=task.id %}" class="link">{{ task.name }}</a></h4>
        <ul class="ul">
          <li>Deadline: {{ task.deadline }}</li>
          <li>Priority: {{ task.get_priority_display }}</li>
        </ul>
      </div>
    {% endfor %}
  </div>
{% endblock %}

